<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%if page.title%}{%capture title%}{{page.title}} | ./LINUX {%endcapture%}{%else%}{%capture title%} Are You Ready? (Y/Y) | ./LINUX{%endcapture%}{%endif%}<title>{{title}}</title>
    <meta name="keywords" content="linux, linux software ,linux apps, linux reviews, linux software reviews, linux apps reviews, linux minimal, linux minimal apps, linux minimal software, linux low memory footprint, dotslashlinux, dotslash, ./, ./linux, firas, firas khana, firas khalil khana">
    <meta name="description" content="./LINUX is a GNU/Linux enthusiasts' hub, covering opensource and free software reviews and recommendations, kernels, distros, custom builds and many more ...">
    <meta name="author" content="Firas Khalil Khana">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/r/c/f.min.css">
    <link rel="stylesheet" href="/r/c/c.css">
    <link rel="stylesheet" href="/r/c/p.min.css">
    <link rel="alternate" type="application/rss+xml" title="./LINUX RSS" href="/feed.xml">
  </head>
  <body>
    <div class="row middle-sm middle-md middle-lg header">
      <div class="col-xs-12 center-xs col-sm-3 start-sm col-md-3 start-md col-lg-3 start-lg">
        <div class="box"><h1 id="brand"><a href="{{site.url}}">./LINUX</a></h1></div>
      </div>
      <div class="col-xs-12 center-xs col-sm-5 center-sm col-md-5 center-md col-lg-5 center-lg">
        <div class="box">
          <nav><ul>
              <li class="{%if page.url == '/' or page.url == '/page2/'%}cur{%endif%}"><a href="{{site.url}}">./HOME</a></li>
              <li class="{%if page.url == '/about/'%}cur{%endif%}"><a href="{{site.url}}/about/">./ABOUT</a></li>
            </ul></nav>
        </div>
      </div>
      <div class="col-xs-12 center-xs col-sm-4 end-sm col-md-4 end-md col-lg-4 end-lg">
        <div class="box search">
          <form action="{{site.url}}/search/" method="get">
            <input type="text" id="search-box" name="query" placeholder="./SEARCH">
            <button type="submit">./GO</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row main">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content">
        <div class="box deck">{{content}}</div>
      </div>{%if paginator.total_pages > 1%}
      <span>({{paginator.page}}/{{paginator.total_pages}})</span>
      {%if paginator.previous_page %}<a href="{{paginator.previous_page_path}}">Previous</a>{%endif%}
      {%if paginator.next_page%}<a href="{{ paginator.next_page_path }}">Next</a>{%endif%}
      {%endif%}</div>
    <footer><h4>Copyright &copy; 2017 ./LINUX | Licensed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a></h4></footer>
    <script src="/r/j/p.min.js"></script><script src="/r/j/l.min.js"></script><script src="/r/j/s.js"></script>
  </body>
</html>
