---
layout: d
---
<div class="map">
  <h2>{{page.title}}</h2>
  <div class="frame"><img src="{{page.imgsrc}}" alt="{{page.imgalt}}"></div>
  <div class="info"><small>Written by {{page.author}} on {{page.date|date: "%d/%m/%Y"}} ({{page.readtime}} | {%assign cc = site.data.c[page.slug] | size%}{%if cc != 1%}{{cc}} Comments{%elsif cc == 1%}{{cc}} Comment{%endif%})</small></div>
  <p>{{page.content}}</p>
</div>{%if site.data.c[page.slug]%}
<div id="comments">
  <h3>{{site.data.c[page.slug]|size}} Comments</h3>{%endif%}{%if site.data.c[page.slug]%}{%assign c = site.data.c.[page.slug]|sort%}
  <div class="user-comments">{%for comment in c reversed%}{%assign cd = comment[1]%}{%assign r = cd.replying_to%}{%if r == ''%}
    <div class="main-comment">
      <h4>{{cd.name}}</h4>
      <h6>{{cd.date|date:"%d/%m/%Y | %r"}}</h6>
      <h5>{{cd.comment|markdownify}}</h5>
      <a href="{{page.url}}#leavecomment">
        <button onclick="document.getElementById('reply').attr('value',{{cd._id}})">./REPLY</button>
      </a>
    </div>{%for commentr in c%}{%assign crd = commentr[1]%}{%if crd.replying_to == cd._id%}
    <div class="replies">
      <h4>{{crd.name}}</h4>
      <h6>{{crd.date|date:"%d/%m/%Y | %r"}}</h6>
      <h5>{{crd.comment|markdownify}}</h5></div>{%endif%}{%endfor%}{%endif%}{%endfor%}</div>{% endif %}
  <div id="leavecomment">
    <h3>Leave A Comment</h3>
    <form method="POST" action="https://api.staticman.net/v2/entry/firasuke/DOTSLASHLINUX/gh-pages/c">
      <input name="options[redirect]" type="hidden" value="{{page.url}}">
      <input name="options[slug]" type="hidden" value="{{page.slug}}">
      <input type="hidden" id="reply" name="fields[replying_to]" value="">
      <input name="fields[name]" type="text">
      <br/>
      <textarea rows="5" name="fields[comment]"></textarea>
      <br/>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
